* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    color: white;

    --grey-light: #63637F;
    --grey: #3F3F54;
    --grey-dark: rgb(50, 50, 66);
    --yellow: #FFD168;
    --brown: #B07777;

    --default-transition: all 200ms ease-in-out;
}

body {
    background-color: var(--grey);
}

button, .btn {
    cursor: pointer;
    user-select: none;
    padding: 0.5rem;

    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;

    background-color: var(--yellow);
    border: none;
    outline: none;

    transition: var(--default-transition);
}

button:hover, .btn:hover {
    filter: brightness(90%);
}

.container {
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hidden {
    display: none!important;
}

a {
    text-decoration: none;
    padding: 0;
}

navbar {
    width: 100vw;
    display: block;
    background-color: var(--grey-dark);
    border-bottom: 15px solid var(--yellow);
}

navbar .container, navbar .container .header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

navbar img {
    width: 196px;
}

navbar .navbar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
}

navbar .navbar-items a {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5rem;
    height: 3rem;

    text-decoration: none;
    font-size: 2.5rem;
    font-weight: lighter;

    transition: var(--default-transition);
}

navbar .navbar-items a:hover {
    color: #ffe099;
    transform: scale(1.15);
}

navbar .navbar-items a::after {
    content: "";
    position: absolute;
    display: block;
    margin-top: 10px;
    top: 34px;
    left: 50%;
    width: 0%;
    height: 4px;

    background-color: var(--yellow);
    transition: left 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
        width 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

navbar .navbar-items a:hover::after {
    width: 100%;
    top: 34px;
    left: 0;
}

navbar .sec {
    display: none;
}

navbar .sec .hamburger {
    cursor: pointer;
    margin-right: 3.5rem;

    color: var(--yellow);
    font-size: 5rem;
    transition: var(--default-transition);
}

navbar .sec .hamburger:hover {
    filter: brightness(90%);
    transform: scale(1.2);
}

.sec-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 1rem;
    margin-top: 2rem;
}

.sec-info .title {
    color: var(--brown);
    font-weight: lighter;
    font-size: 4rem;
}

@media (max-width: 1920px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 1400px) {
    .container {
        width: 100%;
    }

    navbar .navbar-items {
        margin-right: 1.5rem;
    }

    .sec-info {
        padding: 0.5rem;
        text-align: center;
    }

    .sec-info p {
        margin-bottom: 1rem;
    }
}

@media (max-width: 1000px) {
    navbar .main {
        display: none;
    }

    navbar .sec {
        display: block;
    }

    navbar .container {
        display: block;
    }

    navbar .navbar-items {
        overflow: hidden;
        display: inline-block;
        width: 95%;
        height: auto;
        text-align: right;
    }

    navbar .navbar-items .item {
        overflow: hidden;
        width: 100%;
        height: 4rem;
    }

    navbar .navbar-items a:hover {
        color: #ffe099;
        transform: scale(1.05);
    }
}
