<div class="sec-info">
    <hr style="border: var(--yellow) solid 4px; width: 80%;" />
    <h1 class="title">Interested in joining?</h1>
    <p>Are you a web developer looking for a good job in the industry? Well look no further than Hot beans, we cater to every aspect of web developement from back-end, working with databases, to front-end interface design. We are constantly looking for new additions to our team that are up to the challenge of website design and developement.</p>
    <a href="jobs.html" class="btn">Find out more</a>
</div>