<div class="sec-info">
    <hr style="border: var(--yellow) solid 4px; width: 80%;" />
    <h1 class="title">Interested in joining?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius nisi nunc, vitae pellentesque tortor gravida sed. In id neque euismod, molestie enim id, interdum mauris. Suspendisse id rhoncus enim. Morbi euismod ligula ac ligula condimentum bibendum. Ut lacus elit, volutpat ac lorem sit amet, porta sodales nisi. Pellentesque vitae interdum lacus. Nam quis dapibus lectus. Curabitur ut feugiat mi. Integer eu gravida urna. </p>
    <a href="jobs.html" class="btn">Find out more</a>
</div>