<navbar>
    <div class="main">
        <div class="container">
            <img src="resources/images/logo.png" />
            <div class="navbar-items">
                <a href="index.html">Home</a>
                <a href="employees.html">Employees</a>
                <a href="jobs.html">Jobs</a>
                <a href="courses.html">Courses</a>
            </div>
        </div>
    </div>

    <div class="sec">
        <div class="container">
            <div class="header">
                <img src="resources/images/logo.png" />
                <i class="fas fa-bars hamburger"></i>
            </div>
            <div class="navbar-items hidden">
                <a href="index.html">Home</a>
                <a href="employees.html">Employees</a>
                <a href="jobs.html">Jobs</a>
                <a href="courses.html">Courses</a>
            </div>
        </div>
    </div>
</navbar>